body { margin-top: 0px; margin-left: 0px; margin-right: 0px; background-color:#FFDB70; } 

p { font-family: verdana, arial, sans-serif; font-size:11px; color:#000000; line-height:18px; text-align:justify; } 
p.links { font-family: verdana, arial, sans-serif; font-size:11px; color:#FFF298; line-height:18px; } 

A { color: #7D4B00; text-decoration: none; } 
A:link { color: #7D4B00; text-decoration: none; } 
A:visited { color: #7D4B00; text-decoration: none; } 
A:active { color: #7D4B00; } 
A:hover { color: #000000; } 

td.body { padding:20px;} 

font.list { font-family: verdana, arial, sans-serif; font-size: 11px; color: #000000; line-height:18px; } 
font.italic { font-family: verdana, arial, sans-serif; font-size: 12px; color: #000000; line-height:18px; } 
font.header { font-family: verdana, arial, sans-serif; font-size: 18px; color: #000000; line-height:24px; } 