/* This is the css for dorkbot DC 
Created by Brian Chamberlain (blchamberlain@gmail.com ) http://www.ratchetdesign.com;
Modified by Alberto Gaitán (alberto.gaitan@gmail.com);
*/

html, body{
	margin: 0px;
	padding: 0px;
	background-image: url(images/bkgnd_repeater.png);
	background-repeat: repeat;
	color: #C6C6C6;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
}

a {
	color: #D0C680;
}

a:hover{
	color: #FF0;
}

a:visited{
	color: #D0C680;	
}

a:visited:hover{
	color: #FF0;
}

a img{
	border: 0px;
	padding: 5px;
}

/*This sets the width of the page
the banner image is 960px wide so this 
should probably not be changed */
#allContent{
	width: 960px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#banner{
	padding: 0px;
	margin: 0px;
	background-color: #2B2029;
}

#banner img{
	padding: 0px;
	margin: 0px;
}

/* @group Navigation */

#navSpace{
	background-color: #2B2029;
}


#nav img{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

ul#nav {
	width: 960px;
	height: 2em;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #72576C;
	background-color: #2B2029;
}

ul#nav li{
	display: inline;
	padding: 0px;
	float: left;
	
}

ul#nav li a{
	display: block;
	padding: 3px 8px 3px 8px;
	text-decoration: none;
	color: #D0C680;
	background-color: #2B2029;
	border-left: 1px solid #72576C;
	border-right: 1px solid #72576C;
	margin-left: -1px;
}

ul#nav li a:hover{
	background-color: #D0C680;
	color: #382B35;
}

ul#nav li a.active{
	background-color: #D0C680;
	color: #382B35;
}

/* Holds all the content for the page */
#navContent{
	padding:0px 15px 0px 20px;
}

#navFooter{
	width: 940px;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #72576C;
}

/* @end */

/* @group Next Meeting */

#nextMeeting{
	width: 200px;
	float: right;
	padding: 10px 10px 10px 15px;
	margin: 15px 0px 0px 22px;
	border: 1px solid #72576C;
}

#nextMeeting .heading{
	font-weight: bold;
	font-size: 1.5em;
	margin-left: -5px;
}

#nextMeeting .date{
	
}

#nextMeeting .time{
	
}

#nextMeeting .location{
	
}

#nextMeeting .mapLink{
	
}

.ical{
	width: 200px;
	float: right;
	padding: 10px 10px 10px 15px;
	margin: 15px 0px 0px 22px;
	border: 1px solid #72576C;
}

/* @end */

#welcome{
	padding: 5px 10px 10px 0px;
	font-size: 1.2em;
}

#welcome h1{
	font-size:2.0em;
	margin: 0px;
	padding: 0px;
}

#welcome h2{
	font-size:1.1em;
	margin: 0px;
	padding: 0px;
	color: red;
}

#meetingSchedule{
	padding: 5px 10px 10px 0px;
	font-size: 1.0em;
}


/* @group meeting schedule */

.presentation{
	margin: 5px;
}

.presenter{
	font-size: 1.4em;
	color: #D0C680;
}

.member{
	font-size: 1em;
	color: #D0C680;
}


.presentation img.left{
	float: left;
	padding: 5px;
	margin: 5px 15px 5px 0px;
	border: 1px solid #72576C;
}

.presentation img.right{
	float: right;
	padding: 5px;
	margin: 5px 0px 5px 15px;
	border: 1px solid #72576C;
}

.title{
	font-size: 1.4em;
}

.description{
    font-size: 1.2em;
	padding: 5px 0px 5px 0px;
}

.struck{
	text-decoration: line-through;
}
/* @end */



.clear{
	clear: both;
}

/* @group Previous Meetings */

#meetingList{
	width: 180px;
	margin: 10px;
	float: left;
}

#meetingList ul{
	list-style-type: none;
	padding: 3px;

}

#meetingList ul li{
	padding: 3px;
	font-size: 1.2em;
}


#meetingContent{
	margin: 10px;
	margin-left: 190px;
}

/* @end */
